.DS_Store
.ipynb_checkpoints/
things/AmazonRootCA1.pem.crt
things/e0a2ae42f8-private.pem.key
things/e0a2ae42f8-certificate.pem.crt
things/e0a2ae42f8-public.pem.key
Icon?
web_client/Icon?
web_client/.DS_Store
things/.ipynb_checkpoints/
things/Icon?